<app-header [item]="totalItem"  ></app-header>
<div class="card login-form mx-auto  mt-5">
	<div class="card-body ">
		<h3 class="card-title text-center">Change password</h3>
		
		<!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
		
		<div class="card-text">
			<form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit()"> 
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <a class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<input type="hidden"  value="{{productId}}"  formControlName = "id">
				<div class="form-group">
					<label for="exampleInputEmail1">Your new password</label>
					<input type="password" class="form-control form-control-sm" formControlName = "password">
				</div>
				<button [disabled]="!formdata.valid" type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
			</form>
		</div>
	</div>
</div>