<html lang="en">
<head>
  <style></style>
</head>
<body>
    <!-- Navigation-->
        <app-header [item]="totalItem"  ></app-header>
  <div class="container-center">
    <div class="text-center">
    <img src = "https://i.imgur.com/LaimZqD.png" width="30%" >
    </div>
  <h2>Don't Worry!</h2>
  <form  [formGroup] = "formdata" (ngSubmit) = "onClickSubmit()">
    <h4>
      Just provide your email<br> 
      and we can do the rest
    </h4>
    <div class="formgroup">
      <input type="email" name="email" formControlName = "email"/>
      <label for="email"><br>Email</label>
      <span>enter your email</span>
    </div>
    
  
    <button id="login-btn" [disabled]="!formdata.valid" type="submit">Send</button>
  
   
    
  </form>
   
  <p>Did you remember? <a routerLink="/login">Sign In</a></p>
</div>
</body>
</html>

